{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col">
        {{ form_row(form.lastName) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.mobile) }}
    </div>
    <div class="col">
        {{ form_row(form.specialty) }}
    </div>
</div>
<button class="btn btn-primary envoyer">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
