{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.numberCard) }}
    </div>
    <div class="col">
        {{ form_row(form.year) }}
    </div>
</div>
<button class="btn btn-primary envoyer">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
