{% extends 'base.html.twig' %}

{% block title %}Card index{% endblock %}

{% block body %}
    <h1>Card index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumberCard</th>
                <th>Delivery_at</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.numberCard }}</td>
                <td>{{ card.deliveryAt ? card.deliveryAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ card.year }}</td>
                <td>
                    <a href="{{ path('card_show', {'id': card.id}) }}">show</a>
                    <a href="{{ path('card_edit', {'id': card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('card_new') }}">Create new</a>
{% endblock %}
