{% extends 'base.html.twig' %}

{% block title %}Liste des adhérents{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste des adhérents</h1>
    </div>
    <form class="col-md-4 float-right" role="search" methode="get">
        <div class="input-group mb-3">
            <input type="search" class="form-control" placeholder="Prénom | Nom | Cin | Portable" name="search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Prénom et Nom</th>
                <th>Cin</th>
                <th>Protable</th>
                <th>Société</th>
            </tr>
        </thead>
        <tbody>
            {% for adherent in adherents %}
                <tr>
                    <td>{{ adherent.fullName }} </td>
                    <td>{{ adherent.cin }}</td>
                    <td>{{ adherent.mobile }}</td>
                    <td>{{ adherent.company.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="table-danger text-center text-danger">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(adherents) }}
    </div>

{% endblock %}
