{% extends 'base.html.twig' %}

{% block title %}Adhérent{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Adhérent</h1>
    </div>

    <table class="table table-bordered">
        <tbody>

            <tr>
                <th style="width: 25%">Prénom</th>
                <td style="width: 25%">{{ adherent.firstName|title }}</td>
                <th style="width: 25%">Nom</th>
                <td style="width: 25%">{{ adherent.lastName|title }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ adherent.cin }}</td>
                <th>Mobile</th>
                <td>{{ adherent.mobile }}</td>
            </tr>
            <tr>
                <th>Électeur</th>
                <td>
                    {{ e }}
                </td>
                <th>Membre Syndicate</th>
                <td>
                    {{ m }}

                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="{{ path('adherent_edit', {'id': adherent.id}) }}" class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i> Modifier</a>

    <button class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal-{{ adherent.id }}"  style="margin-right: 10px;"><i class="fas fa-trash-alt"></i> Supprimer</button>
    {{ include('adherent/_delete_form.html.twig') }}
    <a href="{{ path('company_show',{'id':adherent.company.id}) }}" class="btn btn-info"><i class="fas fa-angle-left"></i> Retour à la liste</a>
    <br><br>

    <a href="{{ path('card_new', {'id': adherent.id} ) }}" class="btn btn-primary mt-3 mb-3"><i class="fas fa-plus"></i> Ajouter carte</a>
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>N°</th>
                <th>Numéro CID</th>
                <th>Numéro CID</th>
                <th>Année</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for card in adherent.cards|sort|reverse %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ card.numberCard }}</td>
                    <td>{{ card.deliveryAt ? card.deliveryAt|date('d/m/Y') : '' }}</td>
                    <td>{{ card.year }}</td>
                    <td>
                        <a href="{{ path('card_edit', {'id': card.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                        <a href="" data-toggle="modal" data-target="#deleteModal-{{ card.id }}" ><i class="fas fa-trash"></i></a>
                    </td>
                    {{ include('card/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="table-danger text-center text-danger">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
