<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion hidden" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('homepage') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="{{asset('img/ugtt.jpg')}}" width="50" height="50"alt="ugtt"/>
        </div>
        <div class="sidebar-brand-text mx-3">GB URTT<sup></sup></div>
    </a>
    <!-- Divider -->
    {#   <hr class="sidebar-divider my-0">#}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if app.request.get('_route') == 'homepage' %}active{% endif %}">
        <a class="nav-link" href="{{ path('homepage') }}">
            <i class="fas fa-fw fa-home"></i>
            <span>Accueil</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Application
    </div>
    <!-- Nav Item - Company -->
    <li class="nav-item {% if app.request.get('_route') starts with 'company' %}active{% endif %}">
        <a class="nav-link" href="{{ path('company_index') }}">
            <i class="fas fa-fw fa-building"></i>
            <span>Sociétés</span></a>
    </li>
    <!-- Nav Item - Adherent -->
    <li class="nav-item {% if app.request.get('_route') starts with 'adherent' %}active{% endif %}">
        <a class="nav-link" href="{{ path('adherent_index') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Adhérents</span></a>
    </li>
    <!-- Nav Item - Syndicat -->
    <li class="nav-item {% if app.request.get('_route') starts with 'syndicat' %}active{% endif %}">
        <a class="nav-link" href="{{ path('syndicat_index') }}">
            <i class="fas fa-fw fa-address-card"></i>
            <span>Synadicats</span></a>
    </li>
    <!-- Nav Item - Event -->
    <li class="nav-item {% if app.request.get('_route') starts with 'event' %}active{% endif %}">
        <a class="nav-link" href="{{ path('event_index') }}">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Evènements</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Formation
    </div>
    <!-- Nav Item - Trainer -->
    <li class="nav-item {% if app.request.get('_route') starts with 'trainer' %}active{% endif %}">
        <a class="nav-link" href="{{ path('trainer_index') }}">
            <i class="fas fa-fw fa-user-graduate"></i>
            <span>Formateurs</span></a>
    </li>
    <!-- Nav Item - Session -->
    <li class="nav-item {% if app.request.get('_route') starts with 'training' %}active{% endif %}">
        <a class="nav-link" href="{{ path('training_index') }}">
            <i class="fas fa-fw fa-award"></i>
            <span>Sessions</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Administration
    </div>
    <!-- Nav Item - Trainer -->
    <li class="nav-item ">
        <a class="nav-link" href="{{ path('syndicat_index') }}">
            <i class="fas fa-fw fa-user-cog"></i>
            <span>Utilisateurs</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->